
{% if page.date %}
  {% assign og_type = "article" %}
{% else %}
  {% assign og_type = "website" %}
{% endif %}

{% if page.layout == "shop-single" %}
  {% assign og_type = "product" %}
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Person",
        "@id": "https://www.cherrywinklemoore.com/#person",
        "name": "Cherry Winkle Moore",
        "alternateName": "Cherry Winkle Moore",
        "url": {{ '/' | absolute_url | jsonify }},
        "nationality": "American",
        "birthPlace": {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Hamilton",
            "addressRegion": "Ohio",
            "addressCountry": "USA"
          }
        },
        "gender": "Female",
        "Description": "Cherry Winkle Moore is a visual artist and a retired hospice chaplain.",
        "jobTitle": "Artist",
        "image": "https://www.cherrywinklemoore.com/assets/images/cherrywmoore-avatar.jpg",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Bryan",
          "addressRegion": "Texas",
          "addressCountry": "USA"
        },
        "sameAs": [
          "https://www.facebook.com/CherryWinkleMoore"
        ]
      },
      {
        "@type": "Organization",
        "@id": "https://www.cherrywinklemoore.com",
        "name": "Cherry Winkle Moore",
        "legalName": "Cherry Winkle Moore",
        "url": "http://www.cherrywinklemoore.com",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.og_image | absolute_url }}"
        },
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "2102 Quail Hollow Dr",
          "addressLocality": "Bryan",
          "addressRegion": "Texas",
          "postalCode": "77802",
          "addressCountry": "USA"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer support",
          "email": "contact@cherrywinklemoore.com"
        },
        "sameAs": [
          "https://www.facebook.com/CherryWinkleMoore"
        ]
      }
      {% if og_type == "article" %}
      ,{
        "@type": "Article",

        "headline": {{ page.title | jsonify }},
        {% if page.description %}
        "alternativeHeadline": {{ page.description | jsonify }},
        {% endif %}
        "image": {
          "@type": "ImageObject",
          "url": "{{ page.image | default: site.og_image | absolute_url }}"
        },

        {% if page.author %}
        {% assign author = site.authors | where: 'short_name', page.author | first %} 
        "author": "{{ author.name }}",
        {% endif %}

        "editor": "Cherry Winkle Moore",
        "keywords": "{% if page.categories %}{{ page.categories }}{% endif %} {% if page.tags %}{{ page.tags }}{% endif %}",
        "wordcount": {{ page.content | number_of_words | jsonify }},
        "publisher": {
          "@type": "Organization",
          "@id": "https://www.cherrywinklemoore.com/#organization",
          "name": "Cherry Winkle Moore",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.favicon | absolute_url }}"
          }
        },
        "url": "{{ page.url }}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ page.canonical_url | absolute_url }}"
        },
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "dateCreated": "{{ page.date | date_to_xmlschema }}",
        "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
        "description": {{ page.description | jsonify }},
        "inLanguage": "us-EN"
      }
      {% elsif og_type == "website" %}
      ,{
        "@type": "WebPage",
        "name": "{{ site.title }}",
        "description": {{ site.description | jsonify }},
        "publisher": {
          "@type": "ProfilePage",
          "name": {{ site.title | jsonify }}
        },
        "inLanguage": "us-EN",
        "primaryImageOfPage": {
          "@type": "ImageObject",
          "url": "{{ page.image | default: site.og_image | absolute_url }}"
        },
        "url": "{{ canonical_url }}",
        "author": {
          "@id": "https://www.cherrywinklemoore.com/authors/cherrywinklemoore"
        }
      }
      {% endif %}
    ]
  }
</script>