---
layout: default
---

{% include hero.html %}

<!-- conact form -->
<div class="pb-14">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-md-12 col-12">

        <div class="card mt-n12 text-center mb-12">
          <div class="card-body p-4 p-lg-8">
            <div class="mb-5">
              <h2 class="mb-3">I love Hearing From You</h2>
              <p>
                If you have questions about my art, workshops, retreats, or anything else, use this form to get in touch with me.
              </p>
            </div>

            <form class="row" role="form" action="https://formspree.io/f/mknkrdln" method="post">
              <div class="from-group col-md-6 col-12 mb-3">
                <label for="fname" class="sr-only">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname" required="" />
              </div>
              <div class="from-group col-md-6 col-12 mb-3">
                <label for="lname" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname" required="" />
              </div>
              <div class="from-group col-12 mb-3">
                <label for="email" class="sr-only"> Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="" />
              </div>
              <div class="form-group col-12 mb-3">
                <label for="purpose" class="sr-only">Purpose</label>
                <select class="custom-select" id="purpose" name="purpose" >
                  <option selected="">Select Purpose</option>
                  <option value="Art">Art</option>
                  <option value="Workshops">Workshops</option>
                  <option value="Retreats">Retreats</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-12">
                <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary btn-block">
                  Send Messages
                </button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>