---
layout:         default
---

{% include hero.html %}

<div class="py-lg-8 py-10">
  <div class="container">
    <div class="row mb-lg-7 mb-0">

      {% for post in site.gallery limit: 6 %}
      <!-- podcast thumbnail -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="mb-4">
          <div class="mb-5">
            <a href="{{ post.url | absolute_url }}"><img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid w-100 rounded" /></a>
          </div>
          <span class="mb-3 text-secondary font-weight-bold d-block">{{ post.category }}</span>
          <a href="{{ post.url | absolute_url }}">
            <h3 class="h4 mb-2">
              {{ post.title }}
            </h3>
          </a>
          <p class="mb-4 font-12 font-weight-bold"><span class="me-3">{{ post.date | date_to_string: "ordinal", "US" }}</span><span>38 mins 11 secs</span></p>
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="row mb-lg-7 mb-0">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </div>
</div>
