---
layout: default
---

{% include hero.html %}

<div class="py-lg-8 py-10">
  <div class="container">
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">Featured Original Art</h2>
          <p class="lead">
            Select pieces of origianl art are available for purchase. View all art in the <a href="{{ 'gallery' | absolute_url }}">gallery</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-7 mb-0">
      {% for post in site.gallery limit: 6 %}
      {% include postbox-gallery.html %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="offset-xl-3 col-xl-6 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">Writing</h2>
          <p class="lead">
            I've been an avid journaler all my life. A number of my thoughts, experiences, and poems are posted on <a href="{{ 'blog' | absolute_url }}">the blog</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-7 mb-0">
      {% for post in site.posts limit: 6 %}
      {% include postbox-posts.html %}
      {% endfor %}
    </div>
  </div>
</div>